<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>countries</servlet-name>
        <servlet-class>myapp.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>results</servlet-name>
        <servlet-class>myapp.ResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ranks</servlet-name>
        <servlet-class>myapp.RankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>countries</servlet-name>
        <url-pattern>/countries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ranks</servlet-name>
        <url-pattern>/ranks</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
